<%- include ("partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form action="/register" method="POST" class="form-signin text-center">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <label for="firstName" class="sr-only">First Name</label>
            <input class="form-control" type="text" name="firstName" placeholder="First Name" required autofocus>
            <label for="lastName" class="sr-only">Last Name</label>
            <input class="form-control" type="text" name="lastName" placeholder="Last Name" required autofocus>
            <label for="email" class="sr-only">Email</label>
            <input class="form-control" type="email" name="email" placeholder="Email" required autofocus>
            <label for="adminCode" class="sr-only">Admin Code</label>
            <input class="form-control" type="text" name="adminCode" placeholder="Admin Code (Optional)">
            <label for="avatar" class="sr-only">Avatar Image URL</label>
            <input class="form-control" type="text" name="avatar" placeholder="Avatar URL (Optional)">
            <label for="username" class="sr-only">Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required autofocus>

            <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </form>
        <div class="form-signin">
                <a href="/campgrounds">Go Back to Campgrounds Page</a>
        </div>
    </div>  
</div>

<%- include ("partials/footer") %>